@import url("https://fonts.googleapis.com/css?family=Kumar+One+Outline");

html, body {
  background-color: #a6b8c7;
  font-family: Helvetica, sans-sherif;
}

h1, #descritpion {
  text-align: center;
  font-family: 'Kumar One Outline', cursive, Helvetica, sans-sherif;
}


form {
  background-color: #003b6f;
  color: white;
  text-align: center;
}

.personal {
  padding-top: 1em;
}

.details {
  display: flex;
  justify-content: center;
}

.detail + .detail {
  margin-left: 0.5em;
}

.radio {
  display: inline-block;
  text-align: left;
  }

.question {
  display: inline-block;
  text-align: left;
  width: 48%;
  vertical-align: middle;
} 

.question p{
  text-align: center
}

.alignLeft {
  position: relative;
  left: 42%;
}

